<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.weiwobang.paotui">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,allowBackup">
        <meta-data
            android:name="design_width"
            android:value="768"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="38883136c043115492dadf55dc4ca361">
            //开发者申请的key
        </meta-data>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HelpSendActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.ConfirmSendActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.SelectAddrActivity"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <receiver android:name=".receiver.NetStateChangeReceiver"/>

        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.ProtocalActivity"/>
        <activity android:name=".activity.PhoneActivity"/>
        <activity android:name=".activity.FindpwdActivity"/>
        <activity
            android:name=".activity.DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".activity.PublishActivity"/>
        <activity android:name=".activity.MypublishActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.UserinfoActivity"/>
        <activity android:name=".activity.RebackActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.SuccActivity"/>
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- 图片预览Activity -->
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 图片剪切Activity -->
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.TypeActivity"/>
        <activity android:name=".activity.ReplyActivity"/>
        <activity android:name=".activity.OrderActivity">
        </activity>
        <activity android:name=".activity.OrderaddrActivity">
        </activity>
        <activity
            android:name=".activity.ConfirmActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.SearchresActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">
        </service>

        <receiver
            android:name=".JPush.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.weiwobang.paotui"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ContractActivity">
        </activity>
        <activity
            android:name=".activity.SellcenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".activity.SellermainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".activity.NotifyActivity">
        </activity>
        <activity android:name=".activity.OrderdelActivity">
        </activity>
        <activity android:name=".activity.WebmapActivity">
        </activity>
        <activity android:name=".activity.TelescopeActivity">
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".activity.WechatregActivity">
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
    </application>

</manifest>